.stat-card {
    padding: 1rem;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 4px 9px 20px 0px rgba(0, 0, 0, 0.07);
    transition: all 700ms;
    cursor: pointer;
}

.stat-card h3 {
    margin: 15px 0;

}

.stat-card:hover {
    box-shadow: none
}